body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
    text-align: left;
}

.btn-spacing-sm {
    margin-right: 4px;
    margin-bottom: 10px;
}
.margin-bottom-md {
    margin-bottom: 30px;
}

.edit-btn-width{
    width: 80px;
}

table.project-table tbody tr td{
    border: none;
    vertical-align: middle;
}