body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
    text-align: left;
}

.btn-spacing-sm {
    margin-right: 4px;
    margin-bottom: 10px;
}
.margin-bottom-md {
    margin-bottom: 30px;
}

.edit-project-btn{
    width: 80px;
}

.chart-header{
    padding-left: 5px;
}

.project-row{
    display: flex;
}
.spin{
    /* SOURCE: https://stackoverflow.com/questions/14793367/how-to-add-a-spinner-icon-to-button-when-its-in-the-loading-state*/
    animation: spin 1s infinite linear;
    /* TODO: do I also need the css for other browsers? */
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

.project-button-group{
    flex-basis: 170px;
    flex-shrink: 0;
    flex-grow: 0;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 120px;
}

.project-list{
    flex-grow: 10;
    flex-shrink: 10;
}

table.project-table tbody tr td{
    border: none;
    vertical-align: middle;
}

/* Make project name text smaller below screen width of 400px */
@media(max-width: 550px){
    .btn-responsive{
        font-size: 12px;
        font-weight: 300;
    }
}
@media(max-width: 450px){
    .project-row{
        flex-direction: column;
    }
    .btn-responsive{
        font-size: 11px;
        font-weight: 275;
    }
   /* .edit-project-btn{
        width: 50px;
        border: none;
        margin: 4px 4px;
        padding: 4px 4px;
    }*/
}

/* Make the grid fluid for mobile devices, and centered for desktops (I don't actually know how to do this */
@media (min-width: 600px) {
    .container-fluid{
        max-width: 1000px;
    }
}